{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
	<div class="column50">
		<h1>About us</h1>
		<p>We are Team X4, and we are developing SpeakEasy because we believe nothing should get in the way of communication.</p>
		<ul>
			<li>Mute?</li>
			<li>Speech disorder?</li>
			<li>Vocal rest?</li>
			<li>Fresher's flu?</li>
		</ul>
		<p>Don't let them prohibit your voice.<br><br><br><br></p>


		<h1>Contact Us</h1>
		<p>Um we have no contact information yet but please don't sue us.</p>
	</div>

	<div class="column50">
		<h1>Our Policies</h1>
		<p>Ramble about our policies and ethics here.</p>
		<ul>
			<li>Be nice</li>
			<li>Don't be evil</li>
		</ul>
	</div>
{% endblock %}
