<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>About us</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/mainstyles.css') }}">
</head>
<body>

<div class="sidenav">
	<img src="{{ url_for('static', filename='pictures/logo.png') }}" id = "logoimage">
	
	<a href="Speak.html">Speak</a>
	<a href="about_us.html">About Us</a>
	<a href="profile.html">Profile</a>
	
	<a href="login_page.html" id="login_link">Login/Sign Up</a>

</div>

<div class="main">
	<h1>About us</h1>
	<p>This is "about us" page</p>
</div>
   
</body>
</html> 
