{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="column30">
	<h1>About us</h1>
	<p>We are Team X4, and we've developed SpeakEasy because we believe nothing should get in the way of communication.</p>
	<ul>
		<li>Mute?</li>
		<li>Speech disorder?</li>
		<li>Vocal rest?</li>
		<li>Fresher's flu?</li>
	</ul>
	<p>Don't let them prohibit your voice.<br><br><br><br></p>

	<h1>Contact Us</h1>
	<p>Email us here.</p>
	<ul>
		<li><a href="mailto:natalia.alieva@student.manchester.ac.uk">Natalia Alieva</a></li>
		<li><a href="mailto:yordan.chorbadzhiyski@student.manchester.ac.uk">Yordan Chorbadzhiyski</a></li>
		<li><a href="mailto:rakha.djokosoetono@student.manchester.ac.uk">Rakha Djokosoetono</a></li>
		<li><a href="mailto:alexandru.rujoiu-mare@student.manchester.ac.uk">Alexandru Rujoiu-Mare</a></li>
		<li><a href="mailto:lukas.slezevicius@student.manchester.ac.uk">Lukas Slezevicius</a></li>
		<li><a href="mailto:edward.toms@student.manchester.ac.uk">Edward Toms</a></li>
		<li><a href="mailto:miranda.watkins@student.manchester.ac.uk">Miranda Watkins</a></li>
	</ul>
</div>

<div class="column70">
	<div style="width: 120%">
	<h1>Our Policies</h1>
	<p>Professionalism and Communication</p>
	<ol>
		<li>Be fair, encourage participation in from all members</li>
		<li>Strive to share information, listen respectfully to all members</li>
		<li>Avoid conflicts of interest</li>
		<li>All criticism must be constructive</li>
		<li>Strive to build and maintain a safe, healthy, and productive workplace</li>
		<li>Accept and offer honest criticism of technical work as appropriate</li>
		<li>Test software fully before wider release</li>
	</ol>
	<p>Personal Development and Responsibilities</p>
	<ol>
		<li>Be honest about limitations</li>
		<li>Only take on tasks you can manage</li>
		<li>Try to develop skills independently</li>
		<li>Raise any concerns about risks</li>
		<li>Continuously update and enhance technical knowledge and other work-related skills</li>
	</ol>
	<p>Copyright and Privacy</p>
	<ol>
		<li>Abide by the laws of copyright, the DPA and GDPR</li>
		<li>Code obtained online (if any & applicable) should be properly cited</li>
	</ol>
	<p>Contributing to society – ethical rules about what we create </p>
	<ol>
		<li>Focus on the public good</li>
		<li>Take care of software that becomes depended upon</li>
	</ol>
</div>
</div>

{% endblock %}
