<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/mainstyles.css') }}">
</head>
<body>

<div class="sidenav">
	<img src="{{ url_for('static', filename='pictures/logo.png') }}" id = "logoimage">
	
	<a href="{{ url_for('index') }}">Speak</a>
	<a href="{{ url_for('about_us') }}">About Us</a>
	<a href="{{ url_for('profile') }}">Profile</a>
	{% if current_user.is_anonymous %}
	<a href="{{ url_for('login') }}" id="login_link">Login/Sign Up</a>
	{% else %}
        <a href="{{ url_for('logout') }}" id="login_link">Logout</a>
        {% endif %}

</div>

<div class="main">
	{% block content %}{% endblock %}
</div>
   
</body>
</html>
