<html>
    <head>
        <title>Design</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}">
    </head>
    <body class="window">
        <div class="container">
            <p class="logo">Speakeasy</p>
            <div class="input_container">
                <span>
                    <button class="word_suggestion">Should</button>
                    <button class="word_suggestion">Where</button>
                    <button class="word_suggestion">Why</button>
                    <button class="word_suggestion">Would</button>
                </span>
                <div class="input_textarea">
                <textarea name="speech_text" id="speech_text_input" autofocus></textarea>
                </div>
                <div class="suggested_sentences">
                    <span id="classes">
                        <button class="button">Food</button>
                        <button class="button">Work</button>
                        <button class="button">Chill</button>
                        <button class="button">Quotes</button>
                    </span>
                    <div>
                        <button>Don't forget that you can talk!</button>
                    </br>
                        <button>Could you ask the person for me?</button>
                    </br>
                        <Button>Fucking asshole</Button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>