<html>
    <head>
        <title>speakeasy</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>

		<div>
			<span id="suggest1">Hello</span>
			<span id="suggest2">This</span>
			<span id="suggest3">Would</span>
		</div>

        <form>
            <!--<input type="text" name="speech_text" id="speech_text_input">-->
            <div><textarea name="speech_text" id="speech_text_input" autofocus></textarea></div>
            <button type="button" id="speech_text_button">Submit</button>
        </form>
        <div class="copyright_div">
            <p class="copyright">©X4</p>
        </div>
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
