{% extends "base.html" %}

{% block title %}SpeakEasy{% endblock %}

{% block content %}

	<div class="column70">
		<h1>Speak</h1>
		<form>
            	<!--<input type="text" name="speech_text" id="speech_text_input">-->
            	<div><textarea name="speech_text" id="speech_text_input" autofocus></textarea></div>
        	</form>
	</div>


	<div class="column30">
		<div class="predictwords">
			<span id="suggest1">Hello</span>
			<span id="suggest2">This</span>
			<span id="suggest3">Would</span>
		</div>
	</div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
