{% extends "base.html" %}

{% block title %}SpeakEasy{% endblock %}

{% block content %}

{% set keyboardkeys = keyboards.keys()|list %}

<script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>

<script>

let audio_speed = {{ audio_speed }};

function switchKeyboard(keyboardnum) {
	for (let i = 0; i < {{ keyboardkeys|length }}; i++) {
		let keyboard = document.getElementById("keyboard" + String(i));
		let keyboardbutton = document.getElementById("keyboardbutton" + String(i));
		if (keyboardnum == i) {
			keyboard.style.display = "block";
			if (!(keyboardbutton.classList.contains("active"))) {
				keyboardbutton.classList.add("active");
			}
		} else {
			keyboard.style.display = "none";
			if (keyboardbutton.classList.contains("active")) {
				keyboardbutton.classList.remove("active");
			}
		}
	}
} 

</script>

	<h1>Type and Be Heard</h1>

	<div class="column70">
		<form>
    		<textarea name="speech_text" id="speech_text_input" autofocus></textarea>
    	</form>

		<div class="keyboards">
			{% for i in range(keyboardkeys|length) %}
				<button id="keyboardbutton{{ i }}" onClick="switchKeyboard({{ i }})">&#x{{ keyboardkeys[i][2:] }}</button>
			{% endfor %}
		</div>

		<div class="phrases">

			{% for i in range(keyboardkeys|length) %}

			<div id="keyboard{{ i }}">
				<span class="bullet">&nbsp1&nbsp</span>
				<span class="phrase">{{ keyboards[keyboardkeys[i]][0] }}</span>
				<hr>
				<span class="bullet">&nbsp2&nbsp</span>
				<span class="phrase">{{ keyboards[keyboardkeys[i]][1] }}</span>
				<hr>
				<span class="bullet">&nbsp3&nbsp</span>
				<span class="phrase">{{ keyboards[keyboardkeys[i]][2] }}</span>
			</div>

			{% endfor %}

			<script>switchKeyboard(0)</script>


		</div>


	</div>


	<div class="column30">
		<div class="predictwords">
			<span class="bullet">&nbsp1&nbsp</span>
			<span id="suggest1">Hello</span>
			<hr>
			<span class="bullet">&nbsp2&nbsp</span>
			<span id="suggest2">This</span>
			<hr>
			<span class="bullet">&nbsp3&nbsp</span>
			<span id="suggest3">Would</span>
		</div>
<br><br><br><br><br><br><br><br><br>
		<div>
			<h1>Keyboard Shortcuts</h1>
			<table>
				<tr>
					<td><span class="bullet">&nbspAlt&nbsp</span> + <span class="bullet">&nbspCtrl&nbsp</span> +
						<br><span class="bullet">&nbspZ&nbsp</span>
						/ <span class="bullet">&nbspX&nbsp</span> 
						/ <span class="bullet">&nbspC&nbsp</span>
						/ <span class="bullet">&nbspV&nbsp</span> 
						/ <span class="bullet">&nbspB&nbsp</span></td>
					<td>Change<br>Keyboard</td>
				</tr>
				<tr>
					<td><span class="bullet">&nbspCtrl&nbsp</span> + <span class="bullet">&nbspShift&nbsp</span> + 
						<br><span class="bullet">&nbspZ&nbsp</span>
						/ <span class="bullet">&nbspX&nbsp</span>
						/ <span class="bullet">&nbspC&nbsp</span></td>
					<td>Insert<br>Phrase</td>
				</tr>
			</table>
		</div>
	</div>

{% endblock %}
