{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/profile.js') }}"></script>
{% set keyboardkeys = keyboards.keys()|list %}
<script>
	function showIconDropdown(keyboardnum) {
		for (let i = 0; i < {{ keyboardkeys|length }}; i++) {
			let keyboard = document.getElementById("iconselect" + String(i));
			let keyboardbutton = document.getElementById("keyboardicon" + String(i));
			if (keyboardnum == i) {
				if (!(keyboard.classList.contains("show"))) {
				    keyboard.classList.add("show");
				}
				else {
				    keyboard.classList.remove("show");
				}

				if (!(keyboardbutton.classList.contains("active"))) {
				    keyboardbutton.classList.add("active");
				}
				else {
				    keyboardbutton.classList.remove("active");
				}
			} else {
				if (keyboard.classList.contains("show")) {
				    keyboard.classList.remove("show");
				}
				if (keyboardbutton.classList.contains("active")) {
				    keyboardbutton.classList.remove("active");
				}
			}
		}
	}
	function showModal(keyboardnum){
		alert("Showing modal"+String(keyboardnum));
			// Get the modal
			var modal = document.getElementById("myModal");
			if (modal.classList.contains("show")) {
					modal.classList.remove("show");
			}
			else {
					modal.classList.add("show");
			}
			// Get the button that opens the modal

			// Get the <span> element that closes the modal
			var span = document.getElementsByClassName("close")[0];

			// When the user clicks the button, open the modal
			btn.onclick = function() {
	  	modal.style.display = "block";
			}

			// When the user clicks on <span> (x), close the modal
			span.onclick = function() {
	  	modal.style.display = "none";
			}

			// When the user clicks anywhere outside of the modal, close it
			window.onclick = function(event) {
	  	if (event.target == modal) {
	    	modal.style.display = "none";
	  		}
			}

	}

function changeIcon(keyboardid, newicon){
	document.getElementById("keyboardicon"+String(keyboardid)).innerHTML = newicon;
}

</script>



<div class="column40">
	<h1>Accent Preferences</h1>
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		{{ form.accent_form.hidden_tag() }}
		{{ form.password_form.hidden_tag() }}
		{{ form.email_form.hidden_tag() }}
		<p>
			{{ form.accent_form.accent_dropdown.label }}
			{{ form.accent_form.accent_dropdown() }}
			{% for error in form.accent_form.accent_dropdown.errors %}
			<span class="error">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.accent_form.gender_dropdown.label }}
			{{ form.accent_form.gender_dropdown() }}
			{% for error in form.accent_form.gender_dropdown.errors %}
			<span class="error">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.accent_form.speed.label }}
			<output for="age" id="selected-age">{{ form.accent_form.speed.data }}</output>
			{{ form.accent_form.speed(min=0, max=100, oninput="outputUpdate(value)") }}

			{% for error in form.accent_form.speed.errors %}
			<span class="error">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.accent_submit() }}</p>
	<h1>Your Details</h1>
		<p>
			{{ form.password_form.password.label }}
			<br>
			{{ form.password_form.password(size=32) }}
			{% for error in form.password_form.password.errors %}
			<span class="error">[{{ error }}]</span>
			{% endfor %}
		<p>
			{{ form.password_form.new_password.label }}
			<br>
			{{ form.password_form.new_password(size=32) }}
			{% for error in form.password_form.new_password.errors %}
			<span class="error">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.password_form.new_password2.label }}
			<br>
			{{ form.password_form.new_password2(size=32) }}
			{% for error in form.password_form.new_password2.errors %}
			<span class="error">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.password_submit() }}</p>
		<p>
			{{ form.email_form.email.label }}
			<br>
			{{ form.email_form.email(size=32) }}
			{% for error in form.email_form.email.errors %}
			<span class="error">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.email_submit() }}</p>
	</form>
</div>

<div style="width:10%; float: left;"><p> </p></div>

<div class="column50">
	<h1>Custom Phrases</h1>

	<div id="keyboardsettings">
		{% for i in range(keyboardkeys|length) %}
			<div id="keyboardsetting{{ i }}">

					<!-- to create modal -->
					<div id = "myModal" class="modal show">
					<!-- modal content -->
						<div class = "modal-content">
							<span>hey</span>
							<p>Some text in the modal..</p>
							<button class="iconbutton">Icon1</button>
						</div>
					</div>

				<button id="keyboardicon{{ i }}" class="iconbutton" onClick="showModal({{ i }})">&#x{{ keyboardkeys[i][2:] }}</button>
				<input type="text" class="phrasesetting" value="{{ keyboards[keyboardkeys[i]][0] }}"><br>
				<input type="text" class="phrasesetting" value="{{ keyboards[keyboardkeys[i]][1] }}"><br>
				<input type="text" class="phrasesetting" value="{{ keyboards[keyboardkeys[i]][2] }}"><br>
				<br><br>
			</div>

		{% endfor %}
	</div>

	<form action="/keyboards" method="post">
		<input name="keyboard_submit" type="submit" value="Save">
	</form>

</div>
{% endblock %}
