{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='js/profile.js') }}"></script>

<div class="column40">
	<h1>Accent</h1>
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		{{ form.accent_form.hidden_tag() }}
		{{ form.password_form.hidden_tag() }}
		{{ form.email_form.hidden_tag() }}
		<p>
			{{ form.accent_form.accent_dropdown.label }}
			{{ form.accent_form.accent_dropdown() }}
			{% for error in form.accent_form.accent_dropdown.errors %}
			<span class="error">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.accent_form.gender_dropdown.label }}
			{{ form.accent_form.gender_dropdown() }}
			{% for error in form.accent_form.gender_dropdown.errors %}
			<span class="error">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.accent_form.speed.label }}
			{{ form.accent_form.speed(min=0, max=100, oninput="outputUpdate(value)") }}
			<output for="age" id="selected-age">{{ form.accent_form.speed.data }}</output>
			{% for error in form.accent_form.speed.errors %}
			<span class="error">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.accent_submit() }}</p>
	<h1>Your Details</h1>
		<p>
			{{ form.password_form.password.label }}
			<br>
			{{ form.password_form.password(size=32) }}
			{% for error in form.password_form.password.errors %}
			<span class="error">[{{ error }}]</span>
			{% endfor %}
		<p>
			{{ form.password_form.new_password.label }}
			<br>
			{{ form.password_form.new_password(size=32) }}
			{% for error in form.password_form.new_password.errors %}
			<span class="error">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.password_form.new_password2.label }}
			<br>
			{{ form.password_form.new_password2(size=32) }}
			{% for error in form.password_form.new_password2.errors %}
			<span class="error">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.password_submit() }}</p>
		<p>
			{{ form.email_form.email.label }}
			<br>
			{{ form.email_form.email(size=32) }}
			{% for error in form.email_form.email.errors %}
			<span class="error">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.email_submit() }}</p>
	</form>
</div>
{% endblock %}
