<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Speak</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/mainstyles.css') }}">
</head>
<body>

<div class="sidenav">
	<img src="{{ url_for('static', filename='pictures/logo.png') }}" id = "logoimage">
	
	<a href="Speak.html">Speak</a>
	<a href="about_us.html">About Us</a>
	<a href="profile.html">Profile</a>
	
	<a href="login_page.html" id="login_link">Login/Sign Up</a>

</div>

<div class="main">
	<h1>Speak</h1>
	<p>This is the "speak" page</p>
	<p>Some text</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquam faucibus dolor nec fringilla. Fusce est mauris, eleifend at ultrices in, dictum vitae neque. Cras et risus at nisl molestie mollis non et turpis. Curabitur sollicitudin purus ligula, eu dignissim turpis suscipit et. Duis consequat luctus ante eu scelerisque. Nunc tempor lorem gravida, finibus quam id, consectetur odio. Suspendisse a erat ac libero efficitur eleifend eget at libero. Integer cursus massa in ex pharetra, sit amet blandit odio aliquet.

	Maecenas laoreet neque ut nulla porta accumsan. Cras porta, est vitae sollicitudin mattis, leo est semper nisl, nec vehicula felis elit eu nibh. Mauris libero lacus, feugiat eget dignissim ut, porta vitae enim. Suspendisse eu enim erat. Praesent fermentum eros nec auctor commodo. Ut egestas blandit lectus id maximus. Suspendisse efficitur sollicitudin odio, a ultrices dui consectetur non. Etiam sed elementum metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque congue tortor a interdum lacinia. Curabitur sagittis velit at nulla consectetur, at consequat elit euismod. Etiam sit amet vehicula lacus, non eleifend diam.

	Fusce quis consequat sapien. Nulla mauris nisi, congue in suscipit ut, auctor sit amet lorem. Ut vulputate in urna eu bibendum. In pellentesque non massa at pharetra. Phasellus venenatis suscipit ante, ut ullamcorper nisi feugiat sit amet. Vestibulum lectus nulla, rhoncus ut pulvinar vitae, pretium nec nisl. Curabitur ultricies urna neque, pulvinar semper dui porta ut. Duis non ipsum finibus, ultrices urna sed, congue enim. Aliquam scelerisque eros sit amet neque convallis iaculis. Phasellus nec rutrum mauris. Phasellus pretium velit sed risus accumsan lobortis.

	Donec hendrerit lorem nec rutrum dignissim. Fusce vulputate dui velit, vitae rhoncus nisl ullamcorper in. Proin risus nisi, tristique ac euismod et, consequat et neque. Nulla molestie molestie nisi ac egestas. Aenean varius ultrices libero ut porta. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc eu pellentesque ex. In rhoncus tempor justo vitae tincidunt. Vivamus eget egestas ipsum. Nunc dignissim dignissim erat vel gravida.

	Aliquam finibus metus in tincidunt consectetur. Aenean eget metus convallis augue feugiat scelerisque ut sed orci. Fusce mi lectus, pellentesque ac consectetur nec, semper ac massa. Nulla consequat ligula nunc, et consectetur dolor sodales eget. Etiam purus sapien, efficitur a elementum non, bibendum sed dui. Curabitur suscipit augue tempus libero tincidunt eleifend at et dolor. Sed eleifend dolor sed massa elementum, vitae ultrices massa semper. Curabitur feugiat ac arcu in malesuada. Praesent ut nisi et ipsum faucibus eleifend vitae id metus. Phasellus efficitur ligula id interdum vulputate. Sed eu nisi dolor. Donec malesuada ante eget nibh vestibulum viverra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In blandit quam vitae tincidunt porttitor.

	Vestibulum pretium lectus sit amet dapibus finibus. Duis ullamcorper velit a ante placerat accumsan. Sed scelerisque urna ut nunc vulputate vehicula. Duis non vulputate purus. Aenean auctor, eros at dapibus ornare, est mi fringilla risus, porta dapibus velit justo vel ipsum. Cras viverra erat libero, quis egestas lectus finibus ut. Cras sed quam ac arcu egestas rutrum at et purus. Sed at ornare sapien, sed mattis velit.

	Nullam id imperdiet leo. Proin vel eros mauris. Mauris placerat fermentum augue, eu consequat diam luctus non. Vestibulum id augue quis leo pulvinar pretium eu nec massa. Donec quis orci sed felis hendrerit consequat nec a turpis. Cras a mollis turpis. Ut enim turpis, posuere quis odio sit amet, accumsan posuere orci. Proin eleifend eros in tincidunt ullamcorper. Donec metus nulla, laoreet non dolor quis, vehicula molestie massa. Praesent in elit leo. Sed maximus tincidunt nunc, sagittis luctus mauris malesuada sed. Cras lobortis congue dui. Morbi maximus in massa vitae mollis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

	Sed quis dui eu ligula semper rhoncus. Sed sed lacus eros. Nunc sollicitudin accumsan felis, sit amet lobortis nisl eleifend ac. Pellentesque sed risus a velit consequat aliquam vel sagittis nibh. Aliquam aliquet libero ac turpis bibendum convallis. Quisque vitae odio non mauris ornare consequat ac vel dolor. Quisque ut porttitor nunc, non sodales turpis. Nam nibh ligula, tincidunt a feugiat ac, commodo sit amet eros. Curabitur rutrum nisl sit amet nibh pharetra, sed suscipit risus imperdiet. Ut eget laoreet velit, auctor eleifend neque. Suspendisse ac volutpat neque. Mauris a massa orci. Aliquam erat volutpat. Sed iaculis quis risus in malesuada. Pellentesque quis aliquam risus, eu rhoncus ante.

	Morbi et auctor nunc. Pellentesque varius ornare felis. Integer sapien urna, mollis vel lacinia vitae, efficitur nec risus. Sed accumsan elit sit amet arcu accumsan convallis. Sed vitae nunc et odio ultrices tempor. Phasellus facilisis tortor posuere, tincidunt risus id, aliquet augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec placerat felis quis nisl ornare, tristique efficitur sapien venenatis. Nullam nec mollis dui. Nunc cursus ante ac nisl sodales cursus. Phasellus ac leo ex. Proin tempor lacus quis sollicitudin porta.

	Maecenas non condimentum lorem. Aenean volutpat, ipsum a interdum interdum, mi orci fermentum nibh, at vehicula lectus sem vitae ex. Maecenas porttitor luctus arcu, in egestas diam hendrerit at. Donec accumsan varius euismod. Nulla rhoncus tellus sapien, quis consequat nibh varius ut. Nulla non tellus a ipsum mollis porta. Nulla lobortis est non turpis consequat, sit amet pellentesque libero elementum. Phasellus sollicitudin id nunc ut vulputate. Maecenas ac tellus leo. Integer at pharetra risus, ornare maximus urna. Sed sit amet lectus nisl. Etiam ultricies rutrum ultricies.

	Nulla facilisi. Nullam quis arcu nec dolor volutpat tempus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent euismod euismod risus, quis imperdiet lacus ultrices id. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus malesuada rutrum urna aliquet tincidunt. Phasellus vel lorem eu sapien blandit bibendum. Nunc auctor velit sed velit viverra, ut consequat lectus eleifend. Phasellus faucibus tempus leo, non commodo lacus vulputate eget. Quisque vel dui enim. Quisque id sapien tincidunt, malesuada felis at, commodo nulla. Vestibulum ornare non magna sed placerat. Donec enim nisl, suscipit quis dui a, scelerisque scelerisque nisl. Fusce aliquam augue eu diam rhoncus auctor. Nam ornare tortor quis magna sollicitudin, sit amet pretium nisl rhoncus. Praesent venenatis nibh felis, nec luctus leo fermentum ac.</p>
</div>
   
</body>
</html> 
