@font-face {
    font-family: fighter;
    src: url("/static/fonts/fighter.otf") format("opentype");
}

@font-face {
    font-family: gotham;
    src: url("/static/fonts/gotham_ssv/Gotham-Medium.otf") format("opentype")
}

body {
    overflow: hidden;
}

.window {
    padding: 2em 25em 2em 25em;
    background: white;
}

.container {
    background: #ffc4db;
    text-align: center;
    height: 100%;
    border-radius: 25px;
    margin:0;
    border-width: 0.2em;
    border-color: #bababa;
    border-style: solid;
}

.logo {
    font-family: fighter;
    font-size: 8em;
    padding-top: 0.1em;
    margin: 0;
    color: white;
    text-shadow: -2px 0 #717171;
}

.input_container {
    width: 90%;
    display: inline-block;
    height: 80%;
    font-family: gotham;
    /*background: black;*/
}

.button {
    width: 15%;
    background: white;
    border-radius: 25px;
    border-style: solid;
    border-color: #bababa;
    border-width: 0.15em;
    color: #686868;
    height: 8%;
    font-size: large;
    font-family: gotham;
}

.word_suggestion {
    margin: 2em 0.8em 1em 0.8em;
    width: 15%;
    background: white;
    border-radius: 25px;
    border-style: solid;
    border-color: #bababa;
    border-width: 0.15em;
    color: #686868;
    height: 8%;
    font-size: large;
    font-family: gotham;
}

#speech_text_input {
    background: white;
    width: 70%;
    height: 40%;
    margin-top: 1em;
    padding: 1em;
    border-radius: 25px;
    resize: none;
    font-size: x-large;
    border: solid 0.15em;
    border-color: #bababa;
}

#classes {
    margin-top: 1em;
}